@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Della Respira", serif;
  position: relative;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#blurryBack {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0");
  z-index: -1;
  position: fixed;
  filter: brightness(0.8) blur(15px);
}

.dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Lato", sans-serif;
}

.time {
  font-size: 3rem;
  font-weight: 700;
}

.date {
  font-size: 1.5rem;
  font-weight: 500;
}

.greetings {
  font-size: 2rem;
  font-weight: 700;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-bottom: 0px;
}

.weather .desc {
  font-size: 1.5rem;
  font-weight: 500;
}

.desc p {
  margin-top: 8px;
  text-align: center;
}

input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1rem;

  background-color: transparent;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
}

input::placeholder {
  color: white;
  font-size: 1rem;
  opacity: 0.7;
}

input:focus {
  outline: none;
}

.weather_desc p {
  width: fit-content;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  cursor: default;
}

.quote p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  max-width: 800px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#weather-icon {
  width: 70px;
  height: 70px;
}

#temp {
  font-size: 1.5rem;
  font-weight: 700;
}

.unsplash-creator-name {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;

  position: absolute;
  bottom: 10px;
  left: 10px;
}

.favourites {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.favourites img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.favourites img:hover {
  transform: scale(0.95);
}
#google_search_button {
  display: none;
}

p {
  line-height: 150%;
}

#author {
  font-size: 1rem;

  opacity: 0;
  transition: opacity 0.3s;
}

.quote:hover #author {
  opacity: 1;
}

#settings {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#settings:hover img {
  transition: all 0.3s;
  display: block;
}

#settings img {
  width: 50px;
  height: 50px;
  display: none;
  filter: brightness(0.6) invert(1);
}

#settings img:hover {
  filter: brightness(0.4) invert(1);
}

#settings_menu {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.close-icon {
  position: absolute;
  top: 5px; /* Adjust position as needed */
  right: 5px; /* Adjust position as needed */
  width: 20px; /* Adjust the width to make it smaller */
  height: 20px; /* Adjust the height to make it smaller */
  cursor: pointer; /* Change cursor to pointer for better UX */
}

.settings_item {
  margin-top: 10px;
}

.settings_item label {
  display: block;
  margin-bottom: 5px;
}

.settings_item input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.settings_item button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00aaff;
  color: white;
  cursor: pointer;
}
